<footer class="footer" role="contentinfo">
  <div class="container">
    # if current_user.admin
      <p>
        {{_('Version')}}: {{config.CURRENT_VERSION_NAME}}
        (<time datetime="{{config.CURRENT_VERSION_DATE}}">{{config.CURRENT_VERSION_DATE}}</time>)
        # if api_url
          | <a class='api-url' href="{{api_url}}{% if request.query_string %}?{{request.query_string}}{% endif %}" target="_blank" data-api-url="{{api_url}}">{{_('View in JSON')}}</a>
        # endif
      </p>
    # endif
    <p>
      &copy; 2014 - 2015 {{config.CONFIG_DB.brand_name}}
      - <a href="https://gae-init.appspot.com">{{_('Powered by gae-init')}}</a>
      - <a href="https://github.com/lipis/life-line">{{_('View on %(brand)s', brand=_('GitHub'))}}</a>
    </p>
  </div>
</footer>
