<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{_('Toggle navigation')}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.CONFIG_DB.brand_name}}</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="{% if html_class == 'event-create' %} active {% endif %}">
          <a href="{{url_for('event_create')}}"><i class="fa fa-file"></i> {{_('Add Place')}}</a>
        </li>
        <li class="{% if html_class == 'event-list' %} active {% endif %}">
          <a href="{{url_for('event_list')}}"><i class="fa fa-list"></i> {{_('My Places')}}</a>
        </li>
        <li class="{% if html_class == 'stats' %} active {% endif %}">
          <a href="{{url_for('stats')}}"><i class="fa fa-globe"></i> {{_('Stats')}}</a>
        </li>
        # include 'bit/contact_menu.html'
      </ul>
      <ul class="nav navbar-nav navbar-right">
        # include 'bit/locale.html'
        # include 'bit/user_menu.html'
      </ul>
    </nav>
  </div>
</header>
