# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  # if not country_dbs
    <div class="alert alert-warning">
      <h4>{{_('Nothing interesting here.')}}</h4>
      <p>{{_('Add couple of new places to see your countries.')}}</p>
    </div>
  # endif

  <table class="table table-bordered table-hover {{'hide' if not country_dbs}}">
    <thead>
      <tr class="h3">
        <th class="col-xs-1">{{_('Country')}}</th>
        <th class="col-xs-1">{{_('Duration')}}</th>
        <th class="col-xs-1">%</th>
      </tr>
    </thead>
    <tbody>
      # for country_db in country_dbs
        # set value = country_db.seconds / total * 100
        <tr class="{{'h3' if value > 1 else 'h4'}} {{'active' if country_db.current}}">
          <td class="text-nowrap">
            <span class="flag-icon flag-icon-{{country_db.country_code.lower()}}"></span>
            {{country_db.country}}
          </td>
          <td class="text-nowrap">
            # if country_db.years >= 1
              {{'%.1f' | format(country_db.years)}} years
            # elif country_db.months >= 1
              {{'%.1f' | format(country_db.months)}} months
            # elif country_db.days >= 1
              {{'%.0f' | format(country_db.days)}} days
            # else
              {{'%.0f' | format(country_db.hours)}} hours
            # endif
          </td>
          <td class="text-nowrap">
            {{'%2.2f' | format(value)}} %
          </td>
        </tr>
      # endfor
    </tbody>
  </table>
# endblock
