<div id="map-toolbar" class="map-toolbar">
  <div class="btn-group btn-group-sm" data-toggle="buttons">
    <button class="btn btn-primary" disabled>{{_('Chart Type')}}</button>
    <label class="btn btn-default">
      <input type="radio" name="type" value="countries"> {{_('Countries')}}
    </label>
    <label class="btn btn-default">
      <input type="radio" name="type" value="cities"> {{_('Cities')}}
    </label>
    <label class="btn btn-default">
      <input type="radio" name="type" value="line"> {{_('Line')}}
    </label>
  </div>
</div>
