<div id="map-toolbar" class="map-toolbar">
  <div class="btn-group btn-group-sm" data-toggle="buttons">
    <button class="btn btn-primary" disabled>Chart Type</button>
    <label class="btn btn-default">
      <input type="radio" name="type" value="countries"> Countries
    </label>
    <label class="btn btn-default">
      <input type="radio" name="type" value="cities"> Cities
    </label>
    <label class="btn btn-default">
      <input type="radio" name="type" value="line"> Line
    </label>
  </div>
</div>
